body {
    color: white;
    background-color: #333333;
    font-family: Arial;
    margin: 0;
}

header {
    padding: 16px;
    margin: 0;
    /* height: 25vh;
    background-image: url('https://www.silverstone.co.uk/sites/default/files/styles/article_crop/public/images/F1%20Show%20Cars%20Header%202000x817.jpg');
    background-size: 100% auto; */
}

header img {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    padding: 8px;
    background-color: #f60;
    width: 100%;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
}

article {
    position: relative;
    padding: 16px;
    width: 330px;
    margin: 8px;
    margin-bottom: 32px;
    border: 1px solid white;
    border-radius: 8px;
}

h1 {
    color: black;
    background-color: orange;
    padding: 8px;
}

.btn {
    position: absolute;
    right: -8px;
    bottom: -8px;
    color: black;
    background-color: orange;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.enlace1 {
    color: #333333;
    text-decoration: none;
}

/* pseudo clases */
.enlace1:hover {
    color: #000000;
}

.enlace1:visited {
    color: #333333;
}

.enlace2 {
    color: white;
}