h1 {
    background: orange;
    margin: 0;
}

.capa {
    position: fixed;
    bottom: 30px;
    right: 100px;
    background-color: #ff6600;
}

.capa_externa {
    position: relative;
    background-color: greenyellow;
    height: 200px;
}

.capa_interna {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #ff6600;
}